

body {
    background-color: rgb(80,152,207);
color: white;
font-family: Arial, Helvetica, sans-serif;
}

.Formsheet{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    }

.column{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}
    
input{
    width: 300px;
    background-color: rgb(80,152, 207);
    color: white;
    transition:border .5s;
}
textarea{
    background-color: rgb(80,152, 207);
    width: 300px; height: 100px;
    border: 1px solid white;
    color: white;
}
select{
    background-color: rgb(80,152, 207);
    color: white;
}

input, textarea, select{
    outline: 0;
    margin: 5px;
}

label{
    margin-bottom: 5px;
}

input:focus, textarea:focus, select:focus {
border: 2px solid rgb(69, 4, 82);
}